
.button_edit_mode_switch {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 30%;    
    text-align: center; 
    width: 40%;
    border: 0;
    border-radius: 15px;
    color: white;
    background-color: #485973;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 43px;
}

.button_edit_mode_switch:hover {
    background-color: #323e50;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.wrap_part {
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: relative;
    width: 97%;
    max-width: 97%;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
  }

.office_object{
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 135px;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 14px;
    padding-top: 50px;
    background: #E9ECEE;
    border: 3px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;



    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    /* line-height: 130px; */
    vertical-align: middle;

    color: black;
}

.office_object:hover{
    /* background: #a2a5a7; */
    border: 3px solid rgb(60, 154, 255);
    color: rgb(60, 154, 255);
}